<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-39350804-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

    </script>
 <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8"><link rel="dns-prefetch" href="//ajax.googleapis.com">
<title>I Dig it All Sports - The Next Generation Trading Card</title><!--
  This block should only load for mobile and tablet devices
-->
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta content="on" http-equiv="cleartype">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-144x144-precomposed.png" sizes="144x144">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-114x114-precomposed.png" sizes="114x114">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-72x72-precomposed.png" sizes="72x72">
<link rel="apple-touch-icon" href="/assets/website/icons/touch/apple-touch-icon-precomposed.png">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<meta name="apple-mobile-web-app-title" content="I Dig it All Sports - Trading Card"><!-- end block -->
<link rel="shortcut icon" href="/assets/website/icons/touch/favicon.ico"><!--
  This block should load for Win8 OS only
  Tile icon for Win8 (144x144 + tile color)
-->
<meta name="msapplication-TileImage" content="/assets/website/icons/touch/apple-touch-icon-144x144-precomposed.png">
<meta name="msapplication-TileColor" content="#222"><!-- end block -->
<link rel="canonical">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
<meta name="keywords" content="Sports,Trading card,Stats,Digital card,Social media,Social sports,little league,Babe ruth,League,Sports league,High school sports,life touch,Sports photography,Sports images,Share,Sports shots,Sports background,Topps,Big leagues,Major league,Minor league,Pros,Collections,Cards,Tobacco card,Upper deck,Football,Softball,Hockey,Volleyball,Soccer,Futbol,Field hockey,Lacrosse,Basketball,Kickball,Softball,Fields,Stadium,Recreational sports,Coed sports,Golf,Sporting goods,Sports store,Sports equipment,Sports merchandise,Players,Athletes,Fantasy sports,Champions,teams,rosters">

  <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"> -->
  <%= stylesheet_link_tag 'application-website' %>
  <%= javascript_include_tag 'application-website' %>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>


  <script>(
        function() {
          if (navigator.userAgent.match(/Iemobile\/10\.0/))
            {
              var msViewportStyle = document.createElement("style");
              msViewportStyle.appendChild(document.createTextNode("@-ms-viewport {width:auto!important}"));
                  document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
                }
            }
              )
    ();
</script>
  <!--[if gte IE 9]><style type="text/css">.gradient {filter: none;}</style><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script><![endif]-->
</head>

<body id="body">
<div class="tab">
<ul class="login" id="toggle">
  <li><a href="/users/sign_in">Sign
  In</a> | <a href="/users/sign_up">Sign
  Up</a></li></ul></div>
  <%# <div class="info right"><span><a href="tel:18668498081">1-866-849-8081</a></span><span><a href="mailto:info@idigitallsports.com">info@idigitallsports.com</a></span></div> %>
  <h1 class="logo"></h1>
  <div id="top"></div>
  <div id="content">
    <header class="slider">
      <ul class="slides">
      <li><img alt="Golf" src="/assets/website/banners/wgolf.jpg"></li>
      <li><img alt="Soccer" src="/assets/website/banners/msoc.jpg"></li>
      <li><img alt="Baseball" src="/assets/website/banners/baseball.jpg"></li>
      <li><img alt="Field Hockey" src="/assets/website/banners/fieldhockey.jpg"></li>
      <li><img alt="Tennis" src="/assets/website/banners/wten.jpg"></li>
      <li><img alt="Softball" src="/assets/website/banners/softball.jpg"></li>
      <li><img alt="Lacrosse" src="/assets/website/banners/lax.jpg"></li>
      <li><img alt="Football" src="/assets/website/banners/football.jpg"></li>
      <li><img alt="Kickball" src="/assets/website/banners/kickball.jpg"></li>
      <li><img alt="Volleyball" src="/assets/website/banners/mvol.jpg"></li>
      <li><img alt="Basketball" src="/assets/website/banners/mbasketball.jpg"></li>
      <li><img alt="little League" src="/assets/website/banners/little.jpg"></li>
      <li><img alt="little League" src="/assets/website/banners/rugby_slider1.png"></li>
      <li><img alt="little League" src="/assets/website/banners/swimming_slider2.png"></li>

      </ul><!-- end slides -->
    </header><!-- end slider -->

    <%= render 'main_menu', a: {'home' => 'active'} %>

  <div id="store-modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
          <h2 style="color:#FF5735;" class="modal-title">Welcome to our store place!</h2>
        </div>
        <div class="modal-body">
          <p style="color:#000;font-size: 15px;">Here you will find an endless list of merchandise to choose from.<br>
          Just save the QR Code image from your card to provide with your order.<br>
    Create your QR Code in less than 5 minutes!<br>
    Already a iDigitallSports user? Happy shopping!
          </p>
        </div>
        <div class="modal-footer" style="text-align:center;">
          <a style="padding:6px;" href="http://qrc.cheapestpromotionalproducts.com/" class="alert button radius">Shop Now</a>
        </div>
      </div>
    </div>
  </div>


  <span class="slogan">The <em>Next</em> Generation Sports Trading Card</span><!-- end slogan -->

  <center>
 <ul class="sports">
   <li><img src="/assets/website/icons/slider/icon-golf.png" alt="Golf"></li>
   <li><img src="/assets/website/icons/slider/icon-soccer.png" alt="Soccer"></li>
   <li><img src="/assets/website/icons/slider/icon-baseball.png" alt="Baseball"></li>
   <li><img src="/assets/website/icons/slider/icon-fieldhockey.png" alt="Field Hockey"></li>
    <li><img src="/assets/website/icons/slider/icon-basketball.png" alt="Basketball"></li>
     <li><img src="/assets/website/icons/slider/icon-volleyball.png" alt="Volleyball"></li>
   <li><img src="/assets/website/icons/slider/icon-tennis.png" alt="Tennis"></li>
   <li><img src="/assets/website/icons/slider/icon-lax.png" alt="Lacrosse"></li>
   <li><img src="/assets/website/icons/slider/icon-football.png" alt="Football"></li>
   <li><img src="/assets/website/icons/slider/icon-kickball.png" alt="Kickball"></li>
    <li><img src="/assets/website/icons/slider/icon-hockey.png" alt="Hockey"></li>
     <li><img src="/assets/website/icons/slider/icon-baseball.png" alt="Softball"></li>
 </ul>


  <h4>Don’t see your sport? Contact us and we’ll add the sport for you</h4><!-- end slogan -->
  </center>
      <!--  START FEATURE BOXES  -->
      <article class="one-fourth box">
        <a href="#">
        <section class="box-colored">
       <div class="box-colored-icons"><img class="icon_img" alt="Create a card" src="/assets/website/icons/icon-create_card.png"></div><!-- end box-colored-icons -->
  <h2 class="smallmediumText">Create a card</h2>
  <ul>
    <li>Add player Bio</li>
    <li>League name</li>
    <li>Position</li>
    <li>Customize stats</li>
    <li>Add a photo</li>
    <li>Add Website (optional)</li>
    <li>Social Networks & Highlights</li>
  </ul>
          </section><!-- end box-colored -->
        </a>
      </article><!-- end one-third box -->

      <article class="one-fourth box">
        <a href="#">
          <section class="box-colored">
       <div class="box-colored-icons"><img class="icon_img" alt="Keep stats" src="/assets/website/icons/icon-stats.png"></div><!-- end box-colored-icons -->
  <h2 class="smallmediumText">Keep stats</h2>
  <ul>
    <li>Real time tracking</li>
    <li>Saved from game to game</li>
    <li>Compete with your teammates</li>
    <li>Great tool for recruiting</li></ul>
  <p>True Fact: Players that keep their stats improve remarkably.</p>
          </section><!-- end box-colored -->
        </a>
      </article><!-- end one-third box -->

  <article class="one-fourth box">

     <section class="box-colored">
   <div class="box-colored-icons"><img class="icon_img" alt="Trade on Twitter, Facebook, linkdIn and more"
  src="/assets/website/icons/icons-social.png"></div><!-- end box-colored-icons -->
  <h2 class="smallmediumText">Trade card</h2>
  <ul>
    <li>Teammates</li>
    <li>Friends</li>
    <li>Family</li>
    <li>Scouts</li>
    <li>Facebook, Twitter and more</li>
    <li>Email</li>
    <li>Custom QR Code</li>
    <li>Mobile app</li>
  </ul>
  <div class="apps-icons">
    <style type="text/css">
      .apps-icons div{
        width: 94px;
        height: 34px;
        background-size: 100%;
        background-repeat: no-repeat;
        float: left;
        margin-left: 25px;
      }
      .icon-gplay {
        background: url(http://www.idigitallsports.com/assets/website/gplay.png);
      }
    </style>
    <a href="<%= android_app_link %>">
      <div class="icon-gplay"></div>
    </a>
  </div>
     </section><!-- end box-colored -->

      </article><!-- end one-third box -->

      <article class="one-fourth-last box">

          <section class="box-colored">
        <div class="box-colored-icons"><img class="icon_img" alt="Special Pricing" src="/assets/website/icons/icon-pricing.png"></div><!-- end box-colored-icons -->
  <h2 class="smallmediumText">Special Pricing</h2>
  <ul>
    <li>Just $4.99</li>
    <li>Additional Cards $2.99</li>
    <li>Unlimited Account Access</li>
    <li>Unlimited Trades</li>
    <li>Save Past Season Cards</li>
    <li>Receive and Save Other Player Cards</li>
    <li>Up To Date Stats Recording</li>
    <li>Custom QR Code</li>
  </ul>
  <%= link_to('Start Here', new_demo_card_path, class: 'button', style: 'margin-top:5px;') %>
          </section><!-- end box-colored -->


      </article><!-- end one-third-last box -->
   <br class="clear">
      <!--  END FEATURE BOXES  -->
   <div class="fullwidth sponsor aligncenter"><a href="<%= new_demo_card_path %>" role="button" class="button large">Create your card now!</a></div>
  <!-- START SUB FEATURE BOXES -->
  <article class="one-half box"><section class="box-transparent">
  <h2 class="smallmediumText">Coaches Corner</h2><strong>Coaches can easily track
  player stats</strong>
  <ul>
    <li>Create your Team and admin. Page</li>
    <li>Invite players to join via email</li>
    <li>Purchase cards for the whole team</li>
    <li>We’re mobile for real time game stats</li></ul>
  <p>Become an <a href="http://idigitallsports.com/">affiliate</a> of I Dig
  It All Sports by sending us your leagues information.</p></section><!-- end box-transparent --></article><!-- end one-half box --><article
  class="one-half-last box"><section class="box-transparent muh">
  <h2 class="smallmediumText">Leagues Welcomed</h2><strong>We’ll help you set up
  your league</strong>
  <ul>
    <li>It's fun and social. A great addition to your league.</li>
    <li>Retain current members. Stats keep members signing up for the next
    season.</li>
    <li>Creates commrodery between players.</li>
    <li>Request members to add your website URL to their card.</li></ul>
  <p>Become an <a href="http://idigitallsports.com/">affiliate</a> of I Dig
  It All Sports. We’ll add your logo and backlink to our list.</p></section><!-- end box-transparent --></article>



      <!--  START KEY SELLING POINTS  -->
      <br class="clear">
  <article class="one-fourth box"><section class="box-colored-small muh">
  <h3 class="baseText">Printed Version</h3><img class="box-colored-small-icon"
  alt="Request a printed version" src="/assets/website/icons/icon-print.png">
  <p> Want to hang a frame?<!--  We’ve partnered with <a href="http://www.lifetouch.com/"
  target="_new">lifeTouch</a> to --> Create a printed version of your seasons card, or
  team shot.<a href="/contact">Contact
  us</a> and we’ll have your favorite print mailed.</p></section><!-- end box-colored-small --></article><!-- end one-fourth box --><article
  class="one-fourth box"><section class="box-colored-small muh">
  <h3 class="baseText">Player Spotlight</h3><img class="box-colored-small-icon"
  alt="Player of the Month Contest" src="/assets/website/icons/star.png">
  <p>Send your I Dig It All Sports card and highlights to us and we'll enter you
  in the <a href="/player-of-the-month.html"
  aria-labelby="Your picture and stats will be displayed on our home page.">Player
  of the Month Contest</a> for a chance to have your picture and stats displayed
  on our home page.</p></section><!-- end box-colored-small --></article><!-- end one-fourth box --><article
  class="one-fourth box"><section class="box-colored-small muh"><img alt="Eyeblack logo" src="/assets/website/logo/eyeblack-logo-small.png">
  <p>Reminisce back to the day of receiving the stick of gum with your pack of
  cards. Ok, now look ahead to the 21st Century…We have partnered with <a href="http://www.eyeblack.com/"
  target="_new">Eyeblack</a> to offer our members a must have in outdoor sports.
  Keep the sun out of your eyes. Enter IDIGITALL in the promo code box to receive 20% off your
  next eyeblack purchase.  </p></section><!-- end box-colored-small --></article><!-- end one-fourth box --><article
  class="one-fourth-last box"><section class="box-colored-small muh"><img alt="eConnectCard logo" src="/assets/website/logo/econnectcard-logo-small.png">
  <p>See what other members have purchased from <a href="http://www.econnectcard.com/">eConnect
  Card Systems Inc.</a>. Paper cards are outdated and costly, we need a card that
  can keep up with our ever changing, always evolving world. Introducing the
  latest in digital business/social cards. Impress your clients and never forget
  your card again.</p></section><!-- end box-colored-small --></article><!-- end one-fourth-last box --><br class="clear"><!--  END KEY SELliNG POINTS  -->

<style type="text/css">
  .hide {display: none;}
</style>
  <!--  START SOME OF OUR CliENTS  -->
   <div class="fullwidth-heading hide">
      <h2>We'd like to thank the following sponsors</h2>
   </div><!-- end fullwidth-heading -->
      <hr class="general gradient">

      <figure class="one-third hide">
  <a href="//www.econnectcard.com"><div class="ecc"></div></a>
      </figure><!-- end one-third-last -->
      <figure class="one-third hide">
      <a href="//www.1ststatesportsclub.com"><div class="fssc"></div></a>
      </figure><!-- end one-third-last -->
      <figure class="one-third-last hide">
      <a href="//www.eyeblack.com"><div class="eb"></div></a>

      </figure>
      <div class="sponsor aligncenter hide">
  <figure class="aligncenter" style="display:inline-block;"> <a href="//www.atseadesign.com"><div class="asd"></div></a>
    </figure>
  <br><br>
  <div class="sponsor aligncenter"><a href="/contact" role="button" class="button large">Become a Sponsor</a></div>
  <!-- end one-third-last -->
  <HR class="general gradient">
  <br class="clear"><!--  END SOME OF OUR CliENTS  --></div><!-- end container -->
  </div><!-- end content -->

  <%= render 'footer' %>

  <nav id="back-top">
  <a href="#top"><span></span>Back to Top</a>
  </nav><!-- end back-top -->
<script type="text/javascript">
   var _mfq = _mfq || [];
   (function() {
       var mf = document.createElement("script"); mf.type = "text/javascript"; mf.async = true;
       mf.src = "//cdn.mouseflow.com/projects/7d3f41da-0204-4189-8a2f-cad2494417a1.js";
       document.getElementsByTagName("head")[0].appendChild(mf);
   })();
</script>
</body>
</html>
