<%- if controller_name == 'registrations' %>
	<%= link_to "Cancel Registration", cancel_user_registration_path %><br />
<%- end %>

<%- if controller_name != 'sessions' %>
  <%= link_to "Sign in", new_session_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "Sign up", new_registration_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end -%>

<%- if devise_mapping.omniauthable? %>
<hr>
<!--
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "<i class='icon-#{provider.to_s}-sign'></i> Sign in with #{provider.to_s.titleize}".html_safe, omniauth_authorize_path(resource_name, provider) %><br />
  <% end -%>
-->
<% end -%>
    <a target="_blank" title="eConnect Card Systems, Inc. BBB Business Review" href="http://www.bbb.org/delaware/business-reviews/baseball-cards-and-sports-memorabilia/econnect-card-systems-inc-in-newark-de-92002143/#bbbonlineclick"><img alt="eConnect Card Systems, Inc. BBB Business Review" style="border: 0;" src="http://seal-delaware.bbb.org/seals/blue-seal-120-61-econnect-card-systems-inc-92002143.png" /></a>
